{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div>
<h3 style="color: green">Welcome to the Madani Software and Solutions</h3>
<p>We have been providing services to our client/Partner's since 2011. As of now we have more than 10 partners, provided more than <b>600</b> customisations to different kind of industries
     and as per client requirement and More than <b>50</b> successful Modules and virticle in Tally.ERP9/Prime etc.</p>
<p>    All
    kind of Software development and solution in Tally.ERP9 and also in Other platform like we can provide solution in .Net,Python 
    we majorly build software based on client requirement and in Tally.ERP9/ Prime we do customization, integration, Support, Training etc,
     possible automisation of client system or prevent duplication of thier work also provide our industry specific Modules etc.
     we are happy to provide free consultancy If you have any query do send us your request on contact us page we will
surely respond in reasonable time.
</p>
</div>
{% endblock body %}