{% extends 'base.html' %}
{% block title %}Modules{% endblock title %}
{% block body %}
<div class="container my-3">
<h3 class="my-4 text-center">List of Modules</h3>
  <h5 class="my-4 text-center">(All the Addon/Modules are well tested and currently in use of our clients/partner's client)</h5>
      <div class="row">
        <!--<div class="col-md-4"> 
        <div class="card mb-4 shadow-sm">
        <img src="https://source.unsplash.com/1200x900/?nature,water" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>          
      </div>-->
    
    <div class="card" style="width: 18rem;">   
      <!--<img src="..." class="card-img-top" alt="...">   -->
      <div class="card-header">
        Best Selling Module
      </div>
      <div class="card-body">
        <h5 class="card-title">Dynamic Import Tool</h5>
        <p class="card-text">It imports any excel master or vouchers in Tally Data Easily</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Dynamic Import Tool(MySQL)</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Mini Tally</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Advance Auto Backup</h5>
        <p class="card-text">Multiple Option to set autobackup of tally data</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">IMEI Management system</h5>
        <p class="card-text">Track Sales Purchase based on IMEI no.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Advance Digital Signature</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">GST Reconciliation</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Sales Man Module</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Broker Module</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Whats App Module</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">SMS Module</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">O/S Auto Reminder</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">CRM</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Negative Stock Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Sales Order Alteration Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Advance Document Attachment</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Order Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Auto Email Invoice</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Barcode Label & Printing</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Voucher Authorization</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Alteration History Masters and Vouchers</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Envelope Printing</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Party Previous Balance in Invoice</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Product Image in Invoice with Mutliple Page</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Invoice Pdf generation with Password protected</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">UPI QR Code in Invoice</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Cost Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Grace Period Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Automatic Manual Voucher Numbering</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">      
      <div class="card-body">
        <h5 class="card-title">Security Control</h5>
        <p class="card-text">Life time free limited Tally</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}